.logo{
  width: 100px;
}

.menu-buttons{
  width: 30px;
  margin-right: 50px;
}

nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding:10px 25px;
  top: 0;
  width: 100vw;
  position:fixed;
  background-color: rgba(255, 255, 255, 0.892);
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  z-index: 2;
}

.drop-menu{
  top: 0;
  padding: 10px 20px 10px 20px;
  position: fixed;
  margin-top: 90px;
  background-color: white;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu-item{
  height: 30px;
  padding-right: 35px;
  margin: 3px;
}