body{
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar{
  display: none;
}

.page-title{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red-color);
  color: white;
  margin-top: 0;
  height: 2em;
  margin-bottom: 0;
  text-align: center;
}