header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  color: white;
  /* background: rgb(79, 118, 132); */
  background:url('/assets/BestDrivingBackground.jpg'), rgb(70, 67, 67);
  background-blend-mode: overlay;
  background-position: bottom;
  background-size: 100% 80em;
  background-repeat: no-repeat;
  margin: 0;
  height: 75vh;
}

.banner-title{
  font-size: 3.2rem;
}

.banner-description{
  font-size: 1.6rem;
}

.banner-action, .phone-tag{
  font-size: 1.6rem;
  color: white;
  font-style: none;
  text-decoration: none;
}

.banner-action{
  border: 2px solid white;
  width: 30rem;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(103, 103, 103, 0.313);
}

.banner-action:hover{
  color: rgb(213, 213, 213);
  background-color: rgba(176, 167, 167, 0.313);
}