header{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 620px;
  left: 80px;
  margin-top: 90px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('/assets/BestDrivingBackground.jpg');
  background-position: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: center;
}

.banner-title{
  margin-top: 55px;
  margin-bottom: 10px;
  font-size: 34px;
  width: 275px;
  color: var(--blue-color);
  font-weight: 700;
  line-height: 38px;
}

.banner-description{
  font-size: 14px;
  color: white;
  width: 265px;
}

.logo-banner{
  width: 255px;
  margin-top: 13px;
  margin-bottom: 40px;
  font-weight: 500;
}

.button{
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
}
.banner-buttons{
  display: flex;
  flex-direction: column;
}

.call-button{
  margin-bottom: 40px;
  background-color: var(--blue-color) ;
}

.rates-button{
  margin-bottom: 40px;
  background-color: var(--red-color);
}


@media screen and (min-width: 950px) {
  header {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .banner-title{
    font-size: 42px;
    width: 350px;
  }
  .banner-description{
    text-align: center;
    font-size: 22px;
    width: 450px;
  }
  .banner-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .banner-buttons{
    display: flex;
    flex-direction: row;
    gap: 50px;
  }
  .button{
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
  }


  .logo-banner{
    width: 30%;
  }
}